# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints


# reference code
/reference/V1_ResponseProperties
/reference/V1_SuppressionMechanisms
